.button_card{
  text-align: center;
  cursor: pointer;
  background-color: #ffffff;
  border-radius: 5px;
  border: 2px solid;
  padding: 10px 4px 12px 4px;
  margin: 3px 0px 0px 7px;
  font-weight: bold;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  color: #ff66d1;
  font-size: 11px;
}

@media (min-width: 700px) {
  .button_card{
    font-size: 13px;
    padding: 11px 5px 13px 5px;
  }
}

.button_card:hover {
  background-color: rgba(255, 238, 162, 0.3)
}

.button_trimming{
  text-align: center;
  cursor: pointer;
  background-color: #ffffff;
  border-radius: 5px;
  border: 2px solid;
  padding: 15px 5px 15px 5px;
  font-weight: bold;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  color: #ff66d1;
  margin-top: 10px;
}

.button_trimming:hover {
  opacity: 0.7
}

.sample_image{
  width: 200px;
  height: 266.7px;
  cursor: pointer;
  background-color:#ffe8e8;
  border: dashed 2px  #ff8a8a;
}
.sample_image:hover {
  opacity: 0.7;
  background-color:#ffdfdf;
}

.sample_image_text{
  height: 30px;
  border: dashed 2px #ff64db;
  border-radius: 5px;
  padding: 20px 00px 10px 0px;
  background-color:#ffffff;
  text-align: center;
  font-size: 15px;
}

.image_cancel_button{
  cursor: pointer;
  background-color: #ff99c5;
  border: none;
  border-radius: 5px;
  position: absolute;
  top: -25px;
}

.recommended_and_diary_button{
  cursor: pointer;
  background-color: #ffffff;
  border-radius: 5px;
  border: 2px solid;
  padding: 8px 6px 8px 6px;
  margin: 18px 0px 25px 0px;
  font-weight: bold;
  font-size: 10px;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  color: #ff66d1;
  box-shadow: 2.7px 3.2px 2px 0.3px #938d90;
}

@media (min-width: 500px) {
  .recommended_and_diary_button{
    padding: 14px 6px 14px 6px;
    margin: 20px 0px 30px 0px;
  }
}

@media (min-width: 700px) {
  .recommended_and_diary_button{
    padding: 14px 6px 14px 6px;
    font-size: 14px;
    margin: 20px 0px 25px 0px;
  }
}

.recommended_and_diary_button:hover {
  background-color: rgba(255, 238, 162, 0.3)
}

.recommended_and_diary_button:active {
  box-shadow: none;
}

.delete{
  font-size: 15px;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  cursor: pointer;
  background-color: #ffffff;
  border-radius: 5px;
  border: 2px solid;
  padding: 18px 8px 18px 8px;
  font-weight: bold;
}
.delete:hover {
  opacity: 0.7;
}

.diary_button{
  display: flex;
}

.diary_tweet_button{
  color: #3f464b;
}

.follow{
  cursor: pointer;
  min-width: 100px;
  border: none;
  background-color: #ff87d1;
  font-weight: bold;
  color: white;
  border-radius: 5px;
  font-size: 10px;
  min-width: 100px;
  padding: 4px 0px 4px 0px;;
}

.follow:hover{
  opacity: 0.7;

}

@media (min-width: 700px){
  .follow{
    padding: 10px;
    font-size: 15px;
    min-width: 130px;
  }
}

.unfollow{
  cursor: pointer;
  border: none;
  background-color: #fa4646;
  font-weight: bold;
  color: white;
  border-radius: 5px;
  font-size: 11px;
  min-width: 100px;
  padding: 5px;
}

.unfollow:hover{
  opacity: 0.7;
}

@media (min-width: 700px){
  .unfollow{
    padding: 10px;
    font-size: 15px;
    min-width: 130px;
  }
}

.users{
  cursor: pointer;
  background-color: #ffffff;
  border-radius: 5px;
  border: 2px solid;
  padding: 10px 6px 10px 6px;
  margin: 10px 12px 5px 0px;
  font-weight: bold;
  font-size: 9px;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  color: #ff66d1;
  box-shadow: 2.7px 3.2px 2px 0.3px #938d90;
}

.users:hover {
  opacity: 0.8
}

.users:active {
  box-shadow: none;
}

@media (min-width: 500px) {
  .users{
    font-size: 10px;
  }
}

@media (min-width: 700px) {
  .users{
    font-size: 12px;
    margin: 9px 10px 2px 0px;
  }
}

.like{
  font-size: 10px;
  border: 2px solid;
  border-radius: 5px;
  cursor: pointer;
  background-color: white;
  color: #ff7fe5;
  font-weight: bold;
  padding: 6px 6px 6px 6px;
}

.like:hover {
  opacity: 0.8
}

@media (min-width: 700px) {
  .like{
    font-size: 13px;

  }
}

.unlike{
  font-size: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #ff7fe5;
  color: white;
  font-weight: bold;
  padding: 6px 1.5px 6px 1px;
}

@media (min-width: 700px) {
  .unlike{
    font-size: 13px;
    padding: 6px 4px 6px 4px;

  }
}

.unlike:hover {
  opacity: 0.8
}
