.button_card{
  text-align: center;
  cursor: pointer;
  background-color: #ffffff;
  border-radius: 5px;
  border: 2px solid;
  padding: 15px 5px 15px 5px;
  margin: 3px 0px 0px 10px;
  font-weight: bold;
  font-family: 'Kiwi Maru', serif;
  color: #ff66d1;
}

.button_card:hover {
  opacity: 0.7
}

.button_trimming{
  text-align: center;
  cursor: pointer;
  background-color: #ffffff;
  border-radius: 5px;
  border: 2px solid;
  padding: 15px 5px 15px 5px;
  font-weight: bold;
  font-family: 'Kiwi Maru', serif;
  color: #ff66d1;
  margin-top: 10px;
}

.button_trimming:hover {
  opacity: 0.7
}

.sample_image{
  width: 200px;
  height: 200px;
  cursor: pointer;
  background-color:#ffe8e8;
  border: dashed 2px  #ff8a8a;
}
.sample_image:hover {
  opacity: 0.7;
  background-color:#ffdfdf;
}

.sample_image_text{
  height: 30px;
  border: dashed 2px #ff64db;
  border-radius: 5px;
  padding: 20px 00px 10px 0px;
  background-color:#ffffff;
  text-align: center;
  font-size: 15px;
}

.image_cancel_button{
  cursor: pointer;
  background-color: #ff99c5;

  border: none;
  position: absolute;
  top: -29px;
}
