@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap');

.layout{
  background-color: #fffeff;
  min-height: 100vh;
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

.layout_page{
  width:95%;
  margin: 0 auto;

}
