@import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru&display=swap');

.layout{
  background-color: #fff5fd;
  min-height: 100vh;
  font-family: 'Kiwi Maru', serif;
}

.layout_page{
  width:95%;
  margin: 0 auto;

}
