.card_whole{
  background-color:#fffcfc;
  padding: 10px 10px 5px 10px;

}
.card_second_whole{
  display: flex;
  margin: 0px 0px 0px 0px;

}

.card_right_whole{
  margin: 0px 0px 0px 0px;
  margin: 0 auto
}

.card_left_whole{
  width: 50%;
}
.card_text{

  border-bottom: 2px dashed #ff7676;
  color: #000000;
  margin: 0px 0px 15px 0px;
  font-weight: bold;
}

.card_text_property{
  color: #ff7878;
  font-weight: bold;
}
