.card_general_whole{
  padding: 10px 10px 5px 10px;
  position: relative;
  margin: 0 auto;
  width: 85%;
}


@media (min-width: 500px) {
  .card_general_whole{
    width: 80%;
  }
}

@media (min-width: 650px) {
  .card_general_whole{
    width: 70%;
  }
}

@media (min-width: 850px){
  .card_general_whole{
    width: 97%;
  }
}

@media (min-width: 1200px)  {
  .card_general_whole{
    width: 95%
  }
}

.card_general_title{
  color: #ff6fc8;
  font-weight: bold;
  font-size: 13px;
  margin: 0px 0px 7px 10px;
}

@media (min-width: 700px) {
  .card_general_title{
  font-size: 15px;
  margin: 0px 0px 10px 10px;
  }
}

.card_general_photo{
  height: 30px;
  width: 30px;
}

@media (min-width: 700px) {
  .card_general_photo{
    width: 40px;
    height: 40px;
  }
}

.card_whole{
  padding: 10px 10px 5px 10px;
  position: relative;
  margin: 0 auto;
  width: 92%;
}

@media (min-width: 500px) {
  .card_whole{
    width: 85%;
  }
}


@media (min-width: 700px) {
  .card_whole{
    width: 65%;
  }
}

@media (min-width: 955px) {
  .card_whole{
    width: 95%;
  }
}

@media (min-width: 500px) {
  .card_second_whole{
    display: flex;
    margin: 0px 0px 0px 0px;
  }
}

@media (min-width: 500px) {
  .card_right_whole{
    margin: 0 0 0 auto;
  }
}

.card_left_whole{
  width: 55%;
}

@media (min-width: 500px) {
  .card_left_whole{
    width: 44.5%;
  }
}

.card_general_detail {
  display: flex;
  margin: 16px 0px 0px 0px;
  justify-content: space-around;
  /* align-items: center; */
}


.card_general_text_wrapper {
  width: 65%;
  margin: 0px 16px 0px 0px;
}


.card_text{
  border-bottom: 2px dashed #ff8a8a;
  color: #000000;
  margin: 0px 0px 20px 0px;
  padding: 0px 0px 10px 0px;
  font-weight: bold;
  font-size: 11px;
}

@media (min-width: 700px) {
  .card_text{
    font-size: 15px;
  }
}

.like_text{
  font-size: 11px;
  font-weight: bold;
}

@media (min-width: 700px) {
  .like_text{
  font-size: 15px;
  }
}

.card_text_property{
  color: #ff6fc8;
  font-weight: bold;

}

.card_photo_list{
  display : flex;
  justify-content: space-around;
}

.card_diary_button_list{
  margin: 0px 0px 10px -10px;
}

.login_card_title{
  font-size: 13px;
  margin: 0px 0px 10px 0px;
}

@media (min-width: 500px) {
  .login_card_title{
    font-size: 14px;
    margin: 0px 0px 10px 0px
  }
}

@media (min-width: 700px){
  .login_card_title{
    font-size: 14px;
    margin: 0px 0px 10px 0px
  }
}

@media (min-width: 900px)  {
  .login_card_title{
    font-size: 16px;
    margin: 0px 0px 5px 0px
  }
}

.login_user_card{
  width: 50%;
  text-align: center;
  padding: 10px 10px 35px 10px;
  margin:  0 auto;
  margin-top: 20px;
  background-position: top -10px left -80px;
  background-size: 350px;
  background-repeat: no-repeat;
}

@media (max-width: 900px) {
  .login_user_card{
  background-position: top -10px left -65px;
  background-size: 280px;
  width: 75%;
  }
}

@media (max-width: 700px) {
  .login_user_card{
  background-position: top -5px left -55px;
  background-size: 250px;
  width: 80%;
  }
}

@media (max-width: 550px) {
  .login_user_card{
  background-position: top 10px left -40px;
  background-size: 0px;
  width: 85%;
  }
}

.login_card_text_property{
  color: #ff6fc8;
  margin-bottom: 7px;
}

.login_card_text{
  border-bottom: 2px dashed #e9dbdb;
  margin:  0 auto;
  margin-bottom: 15px;
  width: 90%;
  padding: 0px 0px 15px 10px;
  font-size: 16px;
}

@media (max-width: 900px) {
  .login_card_text{
    font-size: 13px;
  }
}

@media (max-width: 550px) {
  .login_card_text{
    font-size: 11px;
  }
}

.trimming_card{
  text-align: center;
  height: 100%;
  background-color: rgb(255, 223, 223);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 5px 0px 5px

}

.recommended_member_card_image{
  position:  absolute;
  top: -5px;
  right: -25px;
  width: 110px;
}


@media (min-width: 700px){
  .recommended_member_card_image{
    width: 130px;
  }
}

/* genralDiaryCard */
.user_info{
  margin-top: 20px;
  display: flex;
  align-items: center;
  font-size: 12px;
}

@media (min-width: 700px) {
  .user_info{
    font-size: 14px;
  }
}

.timeline{
  display : flex;
}

@media (min-width: 700px){
  .timeline{
    display : flex;
  }
}

.dummy_general_diary_image {
  width: 130px;
}
