.card_whole{
  padding: 10px 10px 5px 10px;
  border: dashed 2px  #ff8a8a;
}
.card_second_whole{
  display: flex;
  margin: 0px 0px 0px 0px;

}

.card_right_whole{
  margin: 0px 0px 0px 0px;
  margin: 0 0 0 auto;
}

.card_left_whole{
  width: 36.5%;
}
.card_text{

  border-bottom: 2px dashed #ff8a8a;

  color: #000000;
  margin: 0px 0px 15px 0px;
  font-weight: bold;
}

.card_text_property{
  color: #ff6969;
  font-weight: bold;
}
