.home{
  /* width: 80%; */
  margin: 0 auto;
  max-width: 1000px;
  position: relative;
  /* text-align: center; */
}

.menu_box{
  width: 100%;
  height: 100%;
  background-color:rgba(255, 0, 149, 0.3);
  color: #fff;
}

.main_image{
  width: 100%;
  object-fit: cover;
  height:350px;
  object-position: 50% 0%;
  max-width: 1000px;
}

@media (min-width: 500px) {
.main_image{

  height:400px;
  object-position: 50% 0%;
  }
}

@media (min-width: 700px){
.main_image{
  height:470px;
  object-position: 50% 0%;
}
}

@media (min-width: 900px)  {
.main_image{

  height:580px;
  object-position: 50% 0%;
}
}

@media (min-width: 1200px)  {
.main_image{

  height:580px;
  object-position: 50% 0%;
}
}

.buttons{
  display: flex;
  flex-flow: column;
  position: absolute;
  top: 30px;
  right: 10px;
}

.menu_button{
  cursor: pointer;
  position: relative;
  background:#ff7bd7;
  cursor: pointer;
  width: 70px;
  height:70px;
  border: none;
  border-radius: 50%;
}

.menu_button:hover{
  opacity: 0.9
}

@media (max-width: 700px) {
.menu_button{
  width: 65px;
  height:65px;
}
}

.login_button{
  position: relative;
  background:#ffffff;
  cursor: pointer;
  width: 70px;
  height:70px;
  color:  #ff7bd7;
  border: 2px solid #ff7bd7;
  border-radius: 50%;
  font-weight: bold;
  margin-bottom: 15px;

}

.login_button:hover{
  opacity: 0.9
}

@media (max-width: 700px) {
.login_button{
  width: 65px;
  height:65px;

}
}

.register_button{
  width: 170px;
  height: 60px;
  cursor: pointer;
  background-color: #ffffff;
  border-radius: 5px;
  border: 2px solid;
  padding: 18px 8px 18px 8px;
  font-weight: bold;
  color:  #ff7bd7;
  position: absolute;
  bottom: 20px;
  right: 29%;
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

.register_button:hover {
  background-color: rgb(255, 250, 237)
}

@media (min-width: 500px)  {
.register_button {
  width: 170px;
  right: 32%;
}
}



@media (min-width: 700px)  {
.register_button {
  width: 180px;
  right: 38%;
}
}

.register_text{
font-size: 12px;
}

@media (min-width: 700px)  {
.register_text{
font-size: 14px;
}
}

.menu_button .openbtn-area{
  transition: all .4s;
}

.menu_button span{
  display: inline-block;
  transition: all .4s;
  position: absolute;
  left: 14px;
  height: 3px;
  border-radius: 2px;
  background: #fff;
  width: 45%;
}

.menu_button span:nth-of-type(1) {
  left: 19px;
  top:20px;

}

.menu_button span:nth-of-type(2) {
  left: 19px;
  top:28px;
}

.menu_button span:nth-of-type(3) {
  left: 19px;
  top:36px;
}

@media (max-width: 700px) {

.menu_button span:nth-of-type(1) {
  left: 17px;
  top:16px;
}

.menu_button span:nth-of-type(2) {
  left: 17px;
  top:24px;
}

.menu_button span:nth-of-type(3) {
  left: 17px;
  top:32px;
}
}

.active .openbtn-area{
  transform: rotateY(-360deg);
}

.active span:nth-of-type(1) {
    top: 20.5px;
    left: 19px;
    transform: translateY(6px) rotate(-135deg);
    width: 45%;
}

.active span:nth-of-type(2) {
  opacity: 0;
}

.active span:nth-of-type(3){
    top: 32px;
    left: 18.5px;
    transform: translateY(-6px) rotate(135deg);
    width: 45%;
}

@media (max-width: 700px) {

.active span:nth-of-type(1) {
    top: 18.5px;
    left: 17px;
    transform: translateY(6px) rotate(-135deg);
    width: 45%;
}

.active span:nth-of-type(2) {
  opacity: 0;
}

.active span:nth-of-type(3){
    top: 30px;
    left: 16.5px;
    transform: translateY(-6px) rotate(135deg);
    width: 45%;
}
}

.about:hover{
  opacity: 0.8
}

.about_text{
  margin: 0px 0px 0px 7px;
  font-size: 10px;
}

@media (min-width: 700px) {
.about_text{
  margin: 0px 0px 0px 6px;
  font-size: 13px;
}
}

@media (min-width: 900px) {
.about_text{
  margin: 0px 0px 0px 2px;
  font-size: 17px;
}
}
