.diary_show_wrapper{
  background-color: rgb(255, 255, 255);
  margin: 0 auto;
  margin-top: 30px;
  width: 95%;
  max-width: 800px;
  border-radius: 15px;

  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  position: relative;
  background-repeat: no-repeat;
  background-size: 150px;
  background-position: top 210px right 20px;
}

@media (min-width: 400px) {
.diary_show_wrapper{
  width: 95%;
  background-size: 180px;
  background-position: top 200px right 20px;
}
}

@media (min-width: 500px) {
.diary_show_wrapper{
  width: 95%;
  background-size: 230px;
  background-position: top 215px right 20px;
}
}

@media (min-width: 600px) {
.diary_show_wrapper{
  width: 95%;
  background-size: 300px;
  background-position: top 180px right 20px;
}
}

@media (min-width: 740px) {
.diary_show_wrapper{
  width: 90%;
  background-size: 400px;
  background-position: top 150px right 20px;
}
}

@media (min-width: 900px) {
.diary_show_wrapper{
  width: 90%;
  background-size: 470px;
  background-position: top 130px right 20px;
}
}

.diary_header_image{
  width: 100%;
  object-fit: cover;
  height: 150px;
  object-position: 50% 0%;
}

@media (min-width: 500px) {
.diary_header_image{
  height: 180px;
  object-position: 50% 20%;
  }
}



@media (min-width: 700px){
.diary_header_image{
  height: 200px;
  object-position: 50% 40%;
}
}

@media (min-width: 900px)  {
.diary_header_image{
  height: 200px;
  object-position: 50% 25%;
}
}

@media (min-width: 1200px)  {
.diary_header_image{

  height: 200px;
  object-position: 50% 30%;
}
}

.diary_polaroid_image{
  width: 100px;
  position: absolute;
  top: 120px;
  right: -20px;
}

@media (min-width: 450px)  {
.diary_polaroid_image{
  width: 120px;
  position: absolute;
  top: 120px;
  right: -20px;
}
}

@media (min-width: 700px)  {
.diary_polaroid_image{
  width: 160px;
  position: absolute;
  top: 150px;
  right: 20px;
}
}

@media (min-width: 900px)  {
.diary_polaroid_image{
  width: 200px;
  position: absolute;
  top: 120px;
  right: 30px;
}
}

.diary_member_title{
  border-bottom: 1px dashed rgb(255, 151, 151);
  padding-bottom: 7px;
  margin: 10px 0px 20px 0px;
  font-weight: bold;
  font-size: 14px;

}

@media (min-width: 500px) {
.diary_member_title{
  border-bottom: 1.5px dashed rgb(255, 151, 151);
  font-size: 16px;
}
}

@media (min-width: 700px) {
.diary_member_title{
  border-bottom: 2px dashed rgb(255, 151, 151);
  font-size: 18px;

}
}

.diary_member_title_icon{
  height: 23px;
  margin: 0px 10px -5px 0px;
}


@media (min-width: 500px) {
.diary_member_title_icon{
  height: 25px;
  margin: 0px 10px -5px 0px;
}
}

@media (min-width: 700px) {
.diary_member_title_icon{
  height: 30px;
  margin: 0px 10px -5px 0px;
}
}

@media (min-width: 1000px) {
.diary_member_title_icon{
  height: 30px;
  margin: 0px 10px -5px 0px;
}
}
.diary_sub_text_wrapper{
  margin-bottom: 20px;
  position: relative;
}

@media (min-width: 700px) {
.diary_sub_text_wrapper{
  margin-bottom: 30px;

}
}


.diary_sub_text{
  border-bottom: 1px dashed rgb(255, 151, 151);
  padding-bottom: 7px;
  line-height: 40px;
  font-size: 12px;


}

@media (min-width: 500px) {
.diary_sub_text{
  border-bottom: 1.5px dashed rgb(255, 151, 151);
  font-size: 15px;
}
}

@media (min-width: 700px) {
.diary_sub_text{
  border-bottom: 2px dashed rgb(255, 151, 151);
font-size: 16px;
}
}

@media (min-width: 1000px) {
.diary_sub_text{
  border-bottom: 2px dashed rgb(255, 151, 151);
font-size: 17px;
}
}


.diary_sub_text_icon{
  height: 25px;
  margin: 0px 10px -5px 0px;
}


@media (min-width: 500px) {
.diary_sub_text_icon{
    height: 25px;
  margin: 0px 10px -6px 0px;
}
}

@media (min-width: 700px) {
.diary_sub_text_icon{
  height: 27px;
  margin: 0px 10px -6px 0px;
}
}


.diary_sub_text_property{
  font-weight: bold;
  color:#000000;


}

.diary_images{
  display : flex;
  justify-content: space-around;
}

.diary_image{
  width: 130px;
  border-radius: 5px;
  border: 2px solid #ff99c5;

}

@media (min-width: 500px) {
  .diary_image{
  width: 150px;

  }
}



@media (min-width: 700px){
  .diary_image{
    width: 180px;

  }
}

@media (min-width: 900px)  {
  .diary_image{
    width: 240px;

  }
}

@media (min-width: 1200px)  {
  .diary_image{
    width: 270px;

  }
}
