.wrapper{
  padding: 5px;
  margin-top: auto;
  text-align: center;
  background-color: #ffc9ef;
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
}

.links{
  display: flex;
  justify-content: space-between;
  width: 250px;
  margin: 0 auto;
}

.link{
color: #000;
}

.link:hover{
  opacity: 0.5
}
