.form {
  width: 70%;
  max-width: 800px;
  margin: 0 auto;
}

@media (min-width: 0px) and (max-width: 700px) {
  .form {
    width: 90%;
    margin: 0 auto;
  }
}

.form_header_image {
  margin: 20px 0px 20px 0px;
  width: 100%;
  object-fit: cover;
  height: 150px;
  object-position: 50% 0%;
  border-radius: 5px;
  border: 2px solid #ff96df;
}

@media (min-width: 500px) {
  .form_header_image {
    height: 180px;
    object-position: 50% 20%;
  }
}

@media (min-width: 700px) {
  .form_header_image {
    height: 200px;
    object-position: 50% 25%;
  }
}

.form_title {
  text-align: center;
  font-weight: bold;
  font-size: 17px;
  color: #ff96df;
}

@media (min-width: 500px) {
  .form_title {
    font-size: 20px;
  }
}

@media (min-width: 700px) {
  .form_title {
    font-size: 25px;
  }
}

.image_up_title {
  /* font-size: 17px; */
  font-weight: bold;
  margin-top: 8px;
}
.image_description {
  font-size: 15px;
}

.text_label {
  color: #000;
  font-weight: bold;
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

.text_error {
  color: rgb(255, 119, 119);
  font-weight: bold;
}

@media (max-width: 500px) {
  .text_error {
    margin-top: 24px;
  }
}

.changeVideoButton:hover {
  opacity: 0.8
}

.changeVideoButton:active {
  box-shadow: none;
}

.form_label {
  margin-bottom: 10px
}

.images {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin: 32px 0px 32px 0px;
  width: 80%;

}

.imagesWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

}

@media (max-width: 500px) {
  .images {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 32px 0px 0px 0px;
  }
}

@media (min-width: 500px) and (max-width: 750px) {
  .images {
    width: 100%;
  }
}

@media (min-width: 750px) and (max-width: 900px) {
  .images {
    width: 90%;
  }
}

.uploadVideo {
  text-align: center;
  margin: 32px 0px 32px 0px;
}

@media (max-width: 500px) {
  .uploadVideo {
    margin: 32px 0px 32px 0px;
  }
}

.contentsWrapper {margin: 40px 0px 0px 0px;}

.videoPreview{
  aspect-ratio: 4 / 3;
  max-width: 400px
}

.videoPreviewWrapper {
  text-align: center;
  margin: 32px 0px 32px 0px
}

@media (max-width: 500px) {
  .imagePreview {
    margin: 32px 0px 32px 0px;
  }
}
