.list{
  width:98%;
  margin: 0 auto;
}
.pagination{
  display:inline-block;
}

@media (min-width: 570px) {
  .pagination_and_search_wrap{
  width: 100%;
  margin: 0 auto;
  margin-bottom: 25px;
  display: flex;
  justify-content: space-between;
  }
}

.member_search_form{
  width: 270px;
  height: 35px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 3px;
  border: 2px solid #ffbeea;
  box-sizing: border-box;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  background-color: #ffdff6;
  outline: 0;
}

@media (max-width: 570px) {

  .pagination_and_search_wrap{
    text-align: center;
  }
  .pagination{
    margin-bottom: 15px;
    margin-left: 18px;
  }
  .member_search_form{
    width: 70%;
    margin-bottom: 15px;
  }
}
