.list{
  width:98%;
  margin: 0 auto;
}
.pagination{
  display:inline-block;
}

@media (min-width: 570px) {
  .pagination_and_search_wrap{
  width: 100%;
  margin: 0 auto;
  margin-bottom: 25px;
  display: flex;
  justify-content: space-between;
  }
}

.member_search_form{
  width: 160px;
  height: 25px;
  font-size: 12px;
  font-weight: bold;
  border-radius: 3px;
  border: 2px solid #ffbeea;
  box-sizing: border-box;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  background-color: #ffdff6;
  outline: 0;
  margin-bottom: 20px;
}

@media (min-width: 700px) {
  .member_search_form{
    width: 270px;
    font-size: 16px;
  }
}

@media (max-width: 700px) {
  .pagination_and_search_wrap{
    text-align: center;
  }
  .pagination{
    margin-bottom: 15px;
    margin-left: 18px;
  }
}

.recommended_member_diaries{
  font-size: 15px;
  margin: 0px 0px 0px 0px;
}

@media (min-width: 500px) {
  .recommended_member_diaries{
    font-size: 17px;
  }
}

@media (min-width: 700px) {
  .recommended_member_diaries{
    font-size: 20px;
  }
}
