.menu_recommended_member_icon{
  border-radius: 10%;
  margin: 6px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  width: 33px
}

@media (min-width: 700px) {
  .menu_recommended_member_icon{
    border-radius: 10%;
    margin: 6px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    width: 41px
  }
}

.menu_text{
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-size: 9px;
}

@media (min-width: 400px) {
  .menu_text{
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 10px;
  }
}



@media (min-width: 500px) {
  .menu_text{
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 12px;
  }
}

@media (min-width: 700px) {
  .menu_text{
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 13px;
  }
}

@media (min-width: 900px) {
  .menu_text{
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 14px;
  }
}

.notification_count{
  display: inline-block;
  color: white;
   width: 12px;
  text-align:center;
  border-radius: 50%;
  margin-left: 2px;
  background-color: #ff88db;
}
@media (min-width: 500px) {
  .notification_count{
    width: 15px;
    margin-left: 3px;
  }
}

@media (min-width: 700px) {
  .notification_count{
    width: 17px;
    margin-left: 5px;
  }
}
