.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

label{
  display:block;
  font-size: 17px;
  font-weight: bold;
  margin: 0px 0px 15px 0px
}

a{
  text-decoration: none;
}

img{
	vertical-align:top;
}

html{
  /* overflow: hidden; */
}

.ReactCrop__image{
  /* max-width: 800px; */
  /* min-height: 400px; */
  /* min-height: 100%; */
  /* background-size: '100%'; */
  /* margin-top: 5px; */
  /* max-height: 400px;
  max-height: 90%; */
  /* width: 400px; height: 400px; */
  /* height: 400px; */
  /* width: 100%; */
  /* height: 450px; */
  /* object-fit: contain; */
  /* width: 700px; */
  /* width: 70px; */
  /* min-height: 60vmin;
  max-height: 62vmin; */
  /* width: 100%;
   */
/* height: 65vmin; */
/* min-height: 64.9vmin; */
min-height: 350px;
max-height: 60vmin;
max-width: 100%;

}

@media(max-width: 1000px) {
.ReactCrop__image{

min-height: 250px;
max-height: 65vmin;

  }
}

@media(max-width: 800px) {
.ReactCrop__image{

min-height: 150px;
max-height: 65vmin;

  }
}

@media(max-width: 530px) {
.ReactCrop__image{

min-height: 100px;
max-height: 75vmin;

  }
}

@media(max-width: 450px) {
.ReactCrop__image{

min-height: 100px;
max-height: 80vmin;

  }
}
/*
@media (min-width: 451px) and  (max-width: 550px) {
.ReactCrop__image{
max-height: 75vmin;
max-width: 80vmin;


  }
}
@media(max-width: 450px) {
.ReactCrop__image{

max-height: 80vmin;
max-width: 80vmin;

  }
} */



/* @media (min-width: 501px) and (max-width: 550px) {
.ReactCrop__image{
  max-width: 80vmin;
  min-height: 65vmin;
  max-height: 66vmin;


  }
}




/* @media (min-width: 701px) and (max-width: 1000px) {
.ReactCrop__image{
  min-height: 350px;
  max-height: 350.1px;

  }
}

@media (min-width: 600px) and (max-width: 700px) {
.ReactCrop__image{
  min-height: 300px;
  max-height: 300.1px;

  }
}

@media (min-width: 500px) and (max-width: 600px) {
.ReactCrop__image{
  min-height: 260px;
  max-height: 260.1px;

  }
}
@media (min-width: 400px) and (max-width: 500px) {
.ReactCrop__image{
  min-height: 220px;
  max-height: 220.1px;

  }
} */
